.list {
    list-style: none;
    background-color: #ffc789;

}

.list-wrapper {
    display: flex;
    flex-flow: column;
}

.list-content {
    margin-bottom: 10px;
}

.add-form {
    padding-left: 10px;
}